#epicodus-logo {
  width: 150px;
  margin: 30px 0 30px 45px;
  cursor: pointer;
}
#intro-title-container {
  background-color: #1C1C1C;
  height: 450px;
  margin-bottom: 100px
}
#intro-title-container h1 {
  color: #FFF;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
#intro-title-container h1:nth-child(1) {
  padding-top: 30px;
}
#intro-title-container div {
  margin-top: 10px;
  text-align: center;
}
.lang-logo {
  width: 91px;
}
#ruby-on-rails-img-container {
  padding-top: 70px;
}
#ruby-rails, #css-react, #c-net, #no-suggestion {
  display: none;
}
#survey-container h1{
  font-size: 42px;
  margin-bottom: 50px;
}
#survey-container .form-group label {
  font-size: 20px
}
#survey-container .form-group input {
  border-radius: 5px;
}
#survey-container h4{
  margin-bottom: 30px;
  margin-top: 30px;
}
#survey-container h4:nth-child(1) {
  margin-top: 0;
}
#submit-btn, .return-btn {
  display: block!important;
  margin: 30px auto 0 auto;
  border: 2px solid #00B3B4!important;
  border-radius: 300px!important;
  color: #00B3B4;
  background-color: transparent;
  padding: 21px 34px!important;
}
#submit-btn:hover, .return-btn:hover {
  color: #FFF;
  background-color: #00B3B4;
}
#must-fill-message {
  display: none;
  color: #FF0000;
  text-align: center;
  margin-top: 30px;
}
#results h1 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 30px
}
#results a {
  color: #212529;
  font-style: italic;
  text-decoration: underline;
}
#footer {
  color: #FFF;
  background-color: #969696;
  text-align: center;
  border-top: 4px solid #00B3B4;
  margin-top: 130px;
  padding: 30px 120px;
}
#footer a{
  color: #FFF;
  text-decoration: underline;
}
